/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2016
    Author     : Brant
*/

body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #A3CDCD;
}

#container {
    width: 800px;
    margin: 0 auto;
    background: #fff;
}

#headerBanner {
    width: 100%;
    height: 100px;
    background-color: teal;
    text-align: center;
    color: whitesmoke;
}

#headerBanner h1 {
    padding: 30px;
}

#contact {
    background: gainsboro;
    float: left;
    width: 270px;
    height: 80px;
    margin: 0;
    padding: 0;
}

#contactButtons {
    position: absolute;
    margin: 30px 0 0 40px;
}

#contact #facebook {
    float: left;
    width: 70px;
    height: 18px;
    background: #3B5998;
    color: white;
    border-radius: 5px;
}

#contact #email {
    float: left;
    width: 70px;
    height: 18px;
    background: darkgray;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
}

#contact a {
    text-align: center;
    font-size: smaller;
    text-decoration: none;
    padding: 3px 0 0 0;
}

#nav {
    background: gainsboro;
    float: left;
    width: 530px;
    height: 80px;
    margin: 0;
    padding: 0;
}

#nav ul {
    list-style: none;
    padding: 10px;
}

#nav ul li {
    display: inline;
    position: relative;
    font-size: large;
    font-family: tahoma, sans-serif;
    margin-left: 15px;
    padding: 0 0 0 25px;
}

#nav li a:link, #nav li a:visited  {
    border: solid #ccc .5px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: darkcyan;
    text-decoration: none;
    -webkit-box-shadow: -3px 3px 1px 1px rgba(0,0,0,0.60);
    -moz-box-shadow: -3px 3px 1px 1px rgba(0,0,0,0.60);
    box-shadow: -3px 3px 1px 1px rgba(0,0,0,0.60);
}

#nav li a:active, #nav li a:hover {
    position: relative;
    top: 3px;
    left: -3px;
    color: whitesmoke;
    background-color: #276F6F;
    -webkit-box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.60);
    -moz-box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.60);
    box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.60);
}

#nav li a.current {
    position: relative;
    color: #cccccc;
    background-color: #666666;
    pointer-events: none;
    top: 3px;
    left: -3px;
    -webkit-box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.60);
    -moz-box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.60);
    box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.60);
}

#main h2 {
    float: left;
    padding: 15px 0 15px 20px;
    margin: 0 auto;
    color: #6AA3A3;
}

#main h3 {
    color: #6AA3A3;
    padding: 0 0 10px 0;
    margin: 0;
}

#main ul {
    margin-top: 0;
}

#recipeLinks {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

#recipeLinks a:active, #recipeLinks a:visited {
    color: blue;
}

#main #mainContent {
    clear: left;
    padding: 0px 10px 15px 20px;
    margin: 0;
    width: 400px;
}

#mainContent p {
    padding: 0 0 20px 0;
    margin: 0px;
}

#sidebar {
    float: right;
    text-align: center;
    width: 270px;
    padding: 0px 20px 0 20px;
    margin: 15px 0 0 0;
    border-left: solid #cccccc 1px;
}

#rssButtonsContainer {
    overflow: hidden;
    margin: 0 0 10px 0;
}

.rssButton {
    cursor: pointer;
    background: #006E6E;
    color: white;
    border: #ccc outset;
    padding: 0 25px 0 25px;
    border-radius: 5px;
    text-decoration: none;
}

.rssButton:focus {
  
}

.rssButton:active {
    border: #ccc inset;
    background-color: #005555;
}

.rssFeed {
    border: none;
}

#rssLink {
    font-size: 10px;
    width: 300px;
    color: #CCCCCC;
}

#footer {
    clear: both;
    font-style: italic;
    color: white;
    font-size: small;
    text-align: center;
}

#clear {
    clear: both;
}